@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


html, body {
  height: 100%;
}

ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#visibility {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

@media only screen and (max-height: 690px){
  #form-page {
    height: auto;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  #form {
    display: flex;
    gap: 10px;
  }

  #task_container {
    padding: 12px;
  }

  #task_form {
    gap: 12px
  }

}

#form_input::-webkit-input-placeholder {
  color: white;
  opacity: 25%;
  
}

#form_input::placeholder {
  color: white;
  opacity: 25%;
}

#edit_board::placeholder {
  color: white;
  opacity: 100%;
}

#subtasks_list {
  scrollbar-color: #20212C #828FA3;
  scrollbar-width: thin;
}

input::-webkit-input-placeholder {
  color: #828FA3
}

input::-ms-input-placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder {
  color: #828FA3
}

#snaps-inline::-webkit-scrollbar {
  width: 2px;
  height: 12px;
}

#snaps-inline::-webkit-scrollbar-track {
  background: transparent;
}

#snaps-inline::-webkit-scrollbar-thumb {
  background-color: #3E3F4E;    
  border-radius: 12px;       
}

#snaps-inline::-webkit-scrollbar-thumb:hover {
  background-color: #828FA3;
}

#snaps-inline {
  scrollbar-color: #3E3F4E transparent;
  scrollbar-width: auto;
}