@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding:0;
  position: relative;
}

ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}